.navbar {
    height: 100vh;
    position: fixed;
    width: 250px;
    top: 0;
    left: 0;
    background-color: #343a40;
    color: white;
  }
  
  .navbar-nav {
    flex-direction: column;
  }
  
  .nav-link {
    color: white;
  }
  
  .nav-link:hover {
    background-color: #495057;
  }
  