.navbar {
    background-color: #ffffff !important;
    border-bottom: 1px solid #eaeaea;
  }
  
  .navbar-brand, .nav-link {
    color: #333 !important;
  }
  
  .nav-link:hover, .navbar-brand:hover {
    color: #007bff !important;
  }
  
  .navbar-nav .nav-item .nav-link {
    padding: 0.5rem 1rem;
  }
  
  .navbar-nav .nav-item .nav-link.welcome {
    font-weight: bold;
    color: #007bff !important;
  }
  
  .dropdown-menu {
    background-color: #ffffff;
  }
  
  .dropdown-item {
    color: #333 !important;
  }
  
  .dropdown-item:hover {
    background-color: #f8f9fa !important;
  }
  